body {
    background-color: black;
    font-size: 15px;
}


.basic-panel {
    background-color: #0e2835;
    border: 1px solid #3f4c61;
    padding:15px;
    margin-top:30px;
    overflow: hidden;
}

.avatar {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px #000;
    width: 120px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0;
    color: white;
}

.hero-icon {
    width:25px;
}

.bar {
    background: #151515;
    height: 19px;
    border-radius: 14px;
    padding: 2px;
    border: 1px solid #5d6675;
}

.health {
    width: 100%;
    height: 13px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e00408+0,ff0509+27,8f0222+74,af0002+100 */
    background: #e00408; /* Old browsers */
    background: -moz-linear-gradient(top,  #e00408 0%, #ff0509 27%, #8f0222 74%, #af0002 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e00408 0%,#ff0509 27%,#8f0222 74%,#af0002 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e00408 0%,#ff0509 27%,#8f0222 74%,#af0002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00408', endColorstr='#af0002',GradientType=0 ); /* IE6-9 */
    border: 1px solid #e24646;
}

.energy {
    width: 100%;
    height: 13px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa039f+0,d104c0+27,680268+74,720072+100 */
    background: #aa039f; /* Old browsers */
    background: -moz-linear-gradient(top,  #aa039f 0%, #d104c0 27%, #680268 74%, #720072 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #aa039f 0%,#d104c0 27%,#680268 74%,#720072 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #aa039f 0%,#d104c0 27%,#680268 74%,#720072 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa039f', endColorstr='#720072',GradientType=0 ); /* IE6-9 */
    border: 1px solid #aa039f;
}

.monster {
    position:relative;
    width:150px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.monster:hover .monster-image{
    border: 5px solid #299602;
}

.monster-info {
    position: absolute;
    height: 50px;
    background: rgba(0,0,0,0.3);
    bottom: 5px;
    left: 5px;
    width: calc(100% - 10px);
}

.monster-stats {
    background: black;
    padding: 2px;
    width:140px;
    height:29px;
    font-size:14px;
}

.monster-image {
    width:150px;
    border-radius:5px;
    border:5px solid #793b4c;
}

.dead-monster {
    opacity:0.2;
    pointer-events: none;
}

span.name {
    padding: 0 3px;
}

.gift {
    position: relative;
    width: 70px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    display: none;
    opacity: 0.7;
}

.score {
    display: none;
}

.gift:hover {
    opacity: 1;
}

.gift img {
    width: 70px;
}

span.number {
    position: absolute;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    top: 45%;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #000;
    -webkit-text-stroke: 1px black;
}

#game-over {
    display: none;
}

.game-over {
    position: absolute;
    text-align: center;
    width: 100%;
    color: red;
    font-size: 86px;
    font-weight: bold;
    background: rgba(0,0,0,0.4);
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
}

span.gold,
span.count {
    color: #2fff33;
}

.monsters-container {
    min-height:280px;
}

.restart {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 100px auto;
    vertical-align: middle;
}

.restart button.btn {
    background: #93c82f;
    border: 0px solid #9e0395;
    width: 300px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 1px black;
    -webkit-text-stroke: 0px #000;
}

.container.blurred {
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
}








